<a href="https://colab.research.google.com/github/4skura/EDD_1358_2021/blob/master/02octubre1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#tipos de datos
- string           str
- enteros          int
- numero flotante  float
- LÃ³gico           bool
- Numero Complejo  complex
- Listas           list
- Tuplas           tuple
- Diccionarios     dict
- Conjuntos        set

In [2]:
#string puede emplear ' ', " " o """ """
universidad = "   universidad nacional autonoma de mexico"
#para un string de una sola palabra se suele usar ' '
carrera= 'ico'
area='software'
print(carrera, area)
# para multiples lineas se usa """  """
frase="""
si
algo funciona
no
lo arregles!!!
"""
print (frase)

ico software

si
algo funciona
no
lo arregles!!!

In [10]:
print(universidad.upper())
print(universidad)
print(universidad.title)
#eliminar espacios en un string
universidad2= universidad.strip()
print(universidad2)
lista= universidad.split(" ")
print(lista)
nueva=''
for l in lista:
  if len(l)>0:
    nueva += l + ""
print(nueva)

numeros= "1,2,34,56,100"
print(numeros)
separados=numeros.split("4")
print(separados)
separados=numeros.split(",")
print(separados)

#convertir string de numeros a  arreglo
numeros_int= []
for num in separados:
  numeros_int.append(int(num))

#muestra el numero del indice donde encuentra los caracteres introducidos
print(universidad.index("na"))

#reemplaza caracteres
print(universidad.replace(" ","-"))
#replace no modifica la cadena original
print(universidad)

UNIVERSIDAD NACIONAL AUTONOMA DE MEXICO
universidad nacional autonoma de mexico
<built-in method title of str object at 0x7f4008541710>
universidad nacional autonoma de mexico
['universidad', 'nacional', 'autonoma', 'de', 'mexico']
universidadnacionalautonomademexico
1,2,34,56,100
['1,2,3', ',56,100']
['1', '2', '34', '56', '100']
12
universidad-nacional-autonoma-de-mexico
universidad nacional autonoma de mexico

#slicing
sintaxis
[inicio: stop: incremento]

In [18]:
#selector de elementos dentro de un string
print(nueva[0])
nueva=nueva.strip()
#indexado negativo, comienza a contar al final del string
print(nueva[len(nueva)-1])
print(nueva[-1])

#slicing
print(nueva[11: 19: 1])
print(nueva[-6: : 1])
print(nueva[-1 :-7 :-1])

#valores por defecto
print(nueva[::2])

u
o
o
nacional
mexico
ocixem

#bool
acepta solo dos valores
True y False
True bool(1)
False bool(0)

In [19]:
#para bool igual a cero sera false
print(bool(0))

#para todo valor diferente de cero es True
print(bool(42424242))
flag=0
print(bool(flag))
print (True)

False
True
False
True

#comentarios
para comentarios simples se usa #
para comentarios de multiple linea se usa """ """

In [ ]:
#Este es un comentario de linea simple

"""
Estes es 
un comentario
de multiples lineas
en phyton
"""

#funcion print
hay 4 formas de usar el print:
1. con comas
2. con signo +
3. con la funcion format() de la clase string
4.  con el operador f"

In [25]:
#print con comas, convierte todo a string
cantidad=2
precio_chetos=8
precio_fanta=12

print(cantidad,precio_chetos,precio_fanta)

#print con signo +, solo funciona con str
print("hola"+"numero")
#muestra de como + esta sobrecargado y segun el contexto es lo que muestra
print(cantidad+precio_chetos+precio_fanta)
print(str (cantidad + precio_chetos + precio_fanta))

2 8 12
holanumero
22
22